 /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-Mar-2019, 15:34:14
    Author     : jeltringham
*/

html, body { height: 100%; padding: 0; margin: 0; }
.outline { 
    width: 50%;
    height: 50%; 
    float: left;
    border-style: solid;
    position: relative
}


.alertOne { width: 240px; height: 40px; border-style: solid; background-color: red; border-color: green; border-radius: 15px;}
.container {
    min-height: 80%;
    min-width: 50%;
    max-height: 100%;
    max-width: 100%;
    width: 250px;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 10px auto;


}

.box {
    color: #fff;
    height: 120px;
    width: 50%;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: #70ad47;
    border: 1px solid #fff;
}



.box.top-row {
    align-items: flex-start;
}

.box.bottom-row {
    align-items: flex-end;
}

.box > p {
    text-align: center;
}
.box2 {
    color: #fff;
    height: 120px;
    width: 50%;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: lightsalmon;
    border: 1px solid #fff;
}



.box2.top-row {
    align-items: flex-start;
}

.box2.bottom-row {
    align-items: flex-end;
}

.box2 > p {
    text-align: center;
}

#tl-box {
    border-top-left-radius: 10px;
}

#tr-box {
    border-top-right-radius: 10px;
}

#bl-box {
    border-bottom-left-radius: 10px;
}

#br-box {
    border-bottom-right-radius: 10px;
}

#cc-box {
    color: #0c0e0c;
    height: 90px;
    width: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 6px;
    background-color: #bbd3b1;
    border: 2px solid #fff;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}
#tl-box2 {
    border-top-left-radius: 10px;
}

#tr-box2 {
    border-top-right-radius: 10px;
}

#bl-box2 {
    border-bottom-left-radius: 10px;
}

#br-box2 {
    border-bottom-right-radius: 10px;
}

#cc-box2 {
    color: #0c0e0c;
    height: 90px;
    width: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 6px;
    background-color: #fbc98c;
    border: 2px solid #fff;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}
p{
    color: black;
    font-size: 13px; 
}
textarea {
    width:  98%;
    height: 75px;
    margin-left: 10px;
    margin-right: 10px;
    resize: none;
    border-radius: 15px;
    display:inline-block;
    position:absolute;
    bottom: 5px;
    right: 0;
}
#circle {
    width: 120px;
    height: 120px;
    background: #269abc;
    border-radius: 50%;
    align-items: center;
    display:inline-block;
    position:absolute;
    right:0;
    top:0;
    margin: 5px;
   

}
#circle > p {
    margin-top: 22px;
    text-wrap: normal;
    text-align: center;
}
.back {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
#zUp {
    margin-top: 22px;
    z-index: 1;
}
.pulse {

    -webkit-animation: blink 800ms infinite;
    animation: blink 800ms infinite;
}
@-webkit-keyframes blink { 50% { background-color: red; }}
@keyframes blink { 50% { background-color: red; }}

#topBox {
    width: 120px;
    height: 120px;
    background-color: #fb9261;
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    border-radius: 10%;
    margin-bottom: 1px;
}
#bottomBox {
    width: 120px;
    height: 120px;
    background: #269abc;
    align-items: center;
        border-radius: 10%;
    background-color: red;
   text-align: center;
  
  
}
#recBox{
    width: 120px;
    height: 120px;
    text-align: center;
    background-color: #5cb85c;   
    margin-top: 15px;
    border-radius: 10%;
    
}
#recBoxBottom{
    width: 120px;
    height: 120px;
    text-align: center;
    background-color: #f0ad4e;   
    
    border-radius: 10%;
    
}
#recBoxRight{
    width: 120px;
    height: 120px;
    text-align: center;
    background-color: #357ebd;   
    margin-top: 15px;
    border-radius: 10%;
    
}

